<div class="feedback row">
  <div class="col-12">
    <h2>What our customers say</h2>
  </div>
  <div class="col">
    <div id="carouselFeedback" class="carousel carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselFeedback" data-slide-to="0" class="active"></li>
        <li data-target="#carouselFeedback" data-slide-to="1"></li>
        <li data-target="#carouselFeedback" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h4><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</i></h4><br>
          <h6>Lorena L. Smith</h6>
        </div>
        <div class="carousel-item">
          <h4><i>"Quisque nisi erat, viverra id nunc at, ullamcorper vehicula ligula."</i></h4><br>
          <h6>Oscar C. Lewis</h6>
        </div>
        <div class="carousel-item">
          <h4><i>"In lectus libero, egestas et dolor et, facilisis commodo lectus."</i></h4><br>
          <h6>Jennifer B. Johnson</h6>
        </div>
      </div>
    </div>
  </div>
</div>
