#order-info {
  padding-top: 50px;
  padding-bottom: 75px;
}

.image {
  width: 100%;
 }

section {
  margin-bottom: 25px;
}

@media screen and (max-width: 575px) {
  #order-info {
    padding-bottom: 50px;
  }
}
