<img class="image" src="./../../../client/assets/photos/site/ingredients.jpg">
<div class="container" id="order-info">
  <div class="row">

    <div class="title_container">
      <p class="title">Ordering</p>
    </div>

    <section class="col-12">
      <h4>Pricing & Selection</h4>
      <p>All of our cakes are custom designed. A phone consultation, E-mail or in person consultation is required to
        determine a price. Any cake displayed can be custom made to accommodate any number of guests as well as any
        colors desired.
      </p>
      <p>
        We are a private, custom cake studio located in North Scottsdale, near the Boulders Resort in Carefree, AZ.
        We are a licensed facility with full approval from the city of Phoenix, & The Maricopa County Health Department.
      </p>
      <p>All cake orders must be ordered at least 7 – 10 days in advance to assure availability.</p>
      <p>AZ Cakes Does Not Ship Cakes, so sorry!</p>
    </section>
    <br>

    <section class="col-12">
      <h4>Minimum Order</h4>
      <p>There is a <span class="text-info"><b>$100</b></span> minimum order on all cakes.</p>
    </section>
    <br>

    <section class="col-12">
      <h4>Deposits</h4>
      <p>A <span class="text-info"><b>$50</b></span> non-refundable deposit is required to reserve a party cake
        The balance is due one week prior to date.
      </p>
      <p>A <span class="text-info"><b>$100</b></span> non-refundable deposit is required to reserve a wedding cake
        The balance is due two weeks prior to date.
      </p>
    </section>
    <br>

    <section class="col-12">
      <h4>Date Change</h4>
      <p>In the event that your celebration date is changed or cancelled, your deposit will remain valid for one year
        after the original deposit date and can be used towards another cake order. We require one week notice on party
        cakes and one month notice on wedding cakes. Without proper notification, Your payments will be forfeited.</p>
    </section>
    <br>

    <section class="col-12">
      <h4>Delivery</h4>
      <p>A delivery charge of <span class="text-info"><b>$25 – $75</b></span> is added based on mileage.</p>
      <p><b>No deliveries on Sunday!</b></p>
      <p>Need more information? Please call us at (480) 502-7646.</p>
    </section>
  </div>
</div>

