
.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}

.img-fluid {
  max-height: 90vh;
}

.image_container {
  position: relative;
  text-align: center;
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.image_container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  background: #ffffff;
  opacity: 0.3;
  transition: all 300ms ease-in-out;
}

.image_container:hover .gallery_image {
  opacity: 1;
}

.image_title {
  bottom: 250px;
  position: relative;
  color: #9c6a77;
  font-size: 35px;
  font-weight: 700;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.image_container:hover .image_title {
  opacity: 0;
  z-index: 9999;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

@media screen and (max-width: 575px) {
  .gallery_title {
    font-size: 35px;
    width: 100%;
  }

  .gallery {
    padding-bottom: 0px;
  }

  .image_title {
    font-size: 25px;
    font-weight: 200;
  }

  .title_container {
    border-bottom: none;
    line-height: 1px;
    height: auto;
    margin: auto;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
  }
}

