#gallery {
  padding-top: 75px;
  padding-bottom: 75px;
}

.img-fluid {
  max-height: 90vh;
}

.image_container {
  position: relative;
  text-align: center;
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.carousel-text {
  background-color: #73c3b4;
  color: #ffffff;
  padding: 10px 5px 1px 5px;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.carousel-text h5 {
  text-transform: uppercase;
}

.image_container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content {
  background-color: transparent;
  border: none;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.carousel-inner-image {
  max-height: 75vh;
  min-height: 75vh;
  object-fit: cover;
}

button:focus {
  outline: none;
}

.close {
  color: #ffffff;
  /*text-shadow: none;*/
  font-size: 65px;
  font-weight: normal;
  position: absolute;
  right: 25px;
  z-index: 9999;
  top: 40px;
}

.close:not(:disabled):not(.disabled):hover {
  color: #ffffff;
}

.gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  background: #ffffff;
  opacity: 0.3;
  transition: all 300ms ease-in-out;
}

.image_container:hover .gallery_image {
  opacity: 1;
}

.image_title {
  bottom: 250px;
  position: relative;
  color: #727272;;
  font-size: 35px;
  font-weight: 700;
  opacity: 1;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.image_container:hover .image_title {
  opacity: 0;
  z-index: 9999;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

@media screen and (max-width: 575px) {
  #gallery {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .gallery_title {
    font-size: 35px;
    width: 100%;
  }

  .gallery {
    padding-bottom: 0px;
  }

  .image_title {
    font-size: 25px;
    font-weight: 200;
  }
}

