<footer class="footer_container">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="column_container">
          <img src="./../../../client/assets/logos/logo_name_and_icon.png">
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 footer_text">
        <div class="column_container">
          <h4>Contact us</h4>
          <ul style="list-style-type:none">
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center"><i class="fas fa-mobile-alt"></i></div>
              <div class="col-xs-12 col-sm-11">480.502.7646</div>
            </li>
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center"><i class="fas fa-at"></i></div>
              <div class="col-xs-12 col-sm-11"><a href="mailto:webmaster@example.com">azcakes@mac.com</a></div>
            </li>
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center"><i class="fas fa-map-marker-alt"></i></div>
              <div class="col-xs-12 col-sm-11">
                <address>
                  5819 E. Montgomery Rd. Cave Creek<br>
                  AZ, 85331
                </address>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 footer_text">
        <div class="column_container">
          <h4>Social</h4>
          <ul style="list-style-type:none">
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center">
                <a href="www.twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </div>
              <div class="col-xs-12 col-sm-11">twitter</div>
            </li>
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center">
                <a href="www.facebook.com">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </div>
              <div class="col-xs-12 col-sm-11">Facebook</div>
            </li>
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center">
                <a href="www.instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
              <div class="col-xs-12 col-sm-11">Instagram</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
