<footer data-aos="fade-in" data-aos-duration="1000">
  <div class="container footer_container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="column_container">
          <img class="cake-logo" alt="cake-logo" src="./../../../client/assets/logos/logo_name_and_icon.png">
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 footer_text">
        <div class="column_container">
          <h4 class="text-muted mb-2">Contact us</h4>
          <ul style="list-style-type:none">
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center"><i class="fas fa-phone"></i></div>
              <div class="col-xs-12 col-sm-11 text-muted">480.502.7646</div>
            </li>
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center"><i class="fas fa-at"></i></div>
              <div class="col-xs-12 col-sm-11"><a href="mailto:azcakes@mac.com">azcakes@mac.com</a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="py-3 footer_copyright">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xs-12 col-md-8 text-center text-md-left">
          <p class="mb-md-0 text-center">© 2002-2018 AZCAKES.COM & AZCAKES BY ELIZABETH.  All rights reserved.</p>
        </div>
        <div class="col-xs-12 col-md-4 col mt-2 text-center">
          Made with <i class="fas fa-heart"></i> in Scottsdale, AZ
        </div>
      </div>
    </div>
  </div>
</footer>
