<footer data-aos="fade-in" data-aos-duration="1000">
  <div class="container footer_container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="column_container">
          <img class="cake-logo" alt="cake-logo" src="./../../../client/assets/logos/logo_name_and_icon.png">
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 footer_text">
        <div class="column_container">
          <h4 class="text-muted mb-2">Contact us</h4>
          <ul style="list-style-type:none">
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center">
                <a aria-label="Call us" href="tel:480-502-7646">
                  <i class="fas fa-phone"></i>
                </a>
              </div>
              <div class="col-xs-12 col-sm-11 text-muted">
                <a aria-label="480-502-7646" class="text-decoration-none text-muted" href="tel:480-502-7646">480.502.7646</a>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center">
                <a aria-label="Email us" href="mailto:azcakes@mac.com">
                  <i class="fas fa-at"></i>
                </a>
              </div>
              <div class="col-xs-12 col-sm-11">
                <a class="text-decoration-none text-muted" aria-label="azcakes@mac.com" href="mailto:azcakes@mac.com">azcakes@mac.com</a>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center">
                <a target="_blank"
                   aria-label="Facebook"
                   rel="noopener noreferrer"
                   href="https://www.facebook.com/azcakesbyelizabethllc">
                  <i class="fab fa-facebook"></i>
                </a>
              </div>
              <div class="col-xs-12 col-sm-11">
                <a class="text-muted text-decoration-none"
                   target="_blank"
                   rel="noopener noreferrer"
                   aria-label="https://www.facebook.com/azcakesbyelizabethllc"
                   href="https://www.facebook.com/azcakesbyelizabethllc">Facebook</a>
              </div>
            </li>
            <li class="row">
              <div class="col-xs-12 col-sm-1 text-center">
                <a target="_blank"
                   aria-label="Instagram"
                   rel="noopener noreferrer"
                   href="https://www.instagram.com/azcakesbyelizabeth">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
              <div class="col-xs-12 col-sm-11">
                <a class="text-muted text-decoration-none"
                   target="_blank"
                   rel="noopener noreferrer"
                   aria-label="https://www.instagram.com/azcakesbyelizabeth"
                   href="https://www.instagram.com/azcakesbyelizabeth">Instagram
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="py-3 footer_copyright">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xs-12 col-md-8 text-center text-md-left">
          <p class="mb-md-0 text-center">© 2002-2019 AZCAKES.COM & AZCAKES BY ELIZABETH. All rights reserved.</p>
        </div>
        <div class="col-xs-12 col-md-4 col mt-2 text-center">
          Made with <i class="fas fa-heart"></i> in Scottsdale, AZ
        </div>
      </div>
    </div>
  </div>
</footer>
