.footer_container {
  background-color: #f8f9fa;
  padding-top: 50px;
  padding-bottom: 50px;
}

a {
  color: #73c3b4;
}

.fas {
  color: #79cdbd;
}

.cake-logo {
  float: right;
}

address {
  margin-bottom: 0px;
}

.inline-list {
  padding: 0px;
}

.inline-list > li {
  display: inline-block;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
}

li {
  text-align: left;
  padding-bottom: 5px;
}

ul {
  padding-left: 0px;
}

img {
  height: 200px;
}

.footer_text {
  padding-top: 40px;
}

.column_container {
  padding-left: 15px;
}

.footer_copyright {
  background-color: #343a40;
  color: #dee2e6;
}

@media screen and (max-width: 575px) {
  .cake-logo {
    float: inherit;
  }

  .column_container {
    text-align: center;
  }

  li div {
    text-align: center;
  }

  .footer_container {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  img {
    height: 125px;
  }

  .column_container {
    padding-left: 0px;
  }
}
