<div class="container" id="contact" data-aos="fade-in" data-aos-duration="1000">
  <div class="title_container">
    <p class="title">Contact</p>
  </div>
  <form class="mt-5" [formGroup]="contact" (submit)="submit(contact.value)">
    <div class="form-row">
      <div class="form-group col-xs-12 col-md-6">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" formControlName="firstName" id="firstName" placeholder="First name"
               required>
        <div class="text-danger p-1"
             *ngIf="contact?.controls?.firstName.touched && contact?.controls?.firstName?.errors?.required">Required!
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Last Name">
        <div class="text-danger p-1"
             *ngIf="contact?.controls?.lastName.touched && contact?.controls?.lastName?.errors?.required">Required!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-xs-12 col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" required>
        <div class="text-danger p-1"
             *ngIf="contact?.controls?.email.touched && contact?.controls?.email?.errors?.required">Required!
        </div>
      </div>
      <div class="form-group col-xs-12 col-md-6">
        <label for="telephone">Telephone</label>
        <input type="text" pattern="\d*" maxlength="10" class="form-control" formControlName="telephone" id="telephone"
               placeholder="Telephone #">
        <div class="text-danger p-1"
             *ngIf="contact?.controls?.telephone.touched && contact?.controls?.telephone?.errors?.required">Required!
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-xs-12 col-md-6">
        <div class="form-group">
          <label for="eventTheme">Event Theme</label>
          <select class="form-control" formControlName="theme" id="eventTheme">
            <option selected>Choose...</option>
            <option>Baby Shower</option>
            <option>Wedding</option>
            <option>Groom</option>
            <option>Children's</option>
            <option>3D & Novelty</option>
            <option>Cupcakes & Cookies</option>
            <option>Other</option>
          </select>
        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <label for="calendar">Date</label>
        <div class="panel panel-default mb-3">
          <div class="panel-body">
            <input
              class="form-control"
              formControlName="date"
              type="text"
              id="calendar"
              name="calendar"
              mwlFlatpickr
              [altInput]="true"
              [convertModelValue]="false"
              dateFormat="Y-m-dTH:i">
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 form-group">
        <div class="form-group">
          <label for="message">Message (optional)</label>
          <textarea class="form-control" formControlName="message" id="message" rows="3"></textarea>
        </div>
      </div>
    </div>

    <div class="my-4">
      <ngx-recaptcha2
        [siteKey]="captchaSiteKey"
        [size]="'Normal'"
        [hl]="'em'"
        [theme]="'Light'"
        [type]="'Image'"
        (expire)="handleExpire()"
        (load)="handleLoad()"
        (success)="handleSuccess($event)" required
        formControlName="recaptcha">
      </ngx-recaptcha2>
    </div>

    <button type="submit" class="btn btn-lg button mt-2 col-12 col-md-auto"
            [disabled]="contact.invalid || captchaIsExpired || !captchaSuccess">
      Submit
    </button>
  </form>
</div>

<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center mb-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h2>Oops!</h2>
            <h6>An error has occurred while submitting your request.</h6>
            <h6>Please try again.</h6>
          </div>
          <div class="col-12">
            <button type="button" class="btn button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center mb-5">
        <div class="row">
          <div class="col-12 mb-3">
            <h2>Thank you!</h2>
            <h6>Your request has been submitted.</h6>
          </div>
          <div class="col-12">
            <button type="button" class="btn button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
