<div class="container">
  <div class="row">
    <div class="col-12 order-1 col-md-6 px-2">
      <div class="square float-right d-flex align-items-center text-center text-muted">
        <h2 class="text-uppercase w-100" data-aos="fade-in" data-aos-duration="2000">Meet your baker</h2>
      </div>
    </div>
    <div class="col-12 order-2 col-md-6 p-0">
      <div class="square logo" data-aos="fade-left" data-aos-duration="2000"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 order-3 col-md-6 p-0">
      <div class="square float-right elizabeth" data-aos="fade-right" data-aos-duration="2000"></div>
    </div>
    <div class="col-12 order-4 col-md-6 p-0">
      <div class="square d-flex align-items-center">
        <p class="p-4 text-muted text-justify" data-aos="fade-in" data-aos-duration="2000">
          Elizabeth Bradley’s unlikely journey began with an inspirational nudge from her mother who told her “she could
          do anything in her life she wanted too.” Armed with those encouraging words and a giant new mixer, gifted to
          her by her ever supportive father, the next day she baked her first cake for a family friend. Thousands of
          delicious cakes and 19 years later, she’s happiest when creating one of her distinctive pieces.
          “For my new and repeat clients alike, I eagerly await your special occasion that will call for an amazing
          edible, art sculpture from AZ CAKES.”
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 order-6 order-md-5 col-md-6 px-4 p-md-0">
      <div class="square float-right px-4 d-flex align-items-center text-center text-muted">
        <h4 data-aos="fade-in" data-aos-duration="2000">19 YEARS plus and counting.
          <br>THANKS MOM AND DAD!<br>
          <i class="fas fa-heart"></i>
        </h4>
      </div>
    </div>
    <div class="col-12 order-5 order-md-6 col-md-6 p-0">
      <div class="square parents" data-aos="fade-left" data-aos-duration="2000"></div>
    </div>
  </div>
</div>
