<div class="container">
  <div class="row">
    <div class="col-12 order-1 col-md-6 px-2">
      <div class="square float-right d-flex align-items-center text-center text-muted">
        <h1 class="text-uppercase" data-aos="fade-in" data-aos-duration="2000">Meet your baker</h1>
      </div>
    </div>
    <div class="col-12 order-2 col-md-6 p-0">
      <div class="square logo" data-aos="fade-left" data-aos-duration="2000"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 order-3 col-md-6 p-0">
      <div class="square float-right elizabeth" data-aos="fade-right" data-aos-duration="2000"></div>
    </div>
    <div class="col-12 order-4 col-md-6 p-0">
      <div class="square d-flex align-items-center">
        <p class="p-4 text-muted" data-aos="fade-in" data-aos-duration="2000">
          Elizabeth Bradley, who’s mother told her she could do anything & should make cakes, the next day her dad
          bought her a giant mixer, she made a cake for her sisters friend & from there she was booked doing cakes every
          week for the next 19 years & counting…
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 order-6 order-md-5 col-md-6 px-4 p-md-0">
      <div class="square float-right px-4 d-flex align-items-center text-center text-muted">
        <h4 data-aos="fade-in" data-aos-duration="2000">Thank You Mom & Dad <i class="fas fa-heart"></i></h4>
      </div>
    </div>
    <div class="col-12 order-5 order-md-6 col-md-6 p-0">
      <div class="square parents" data-aos="fade-left" data-aos-duration="2000"></div>
    </div>
  </div>
</div>
