#payment {
  background-color: #ffffff;
  color: #dee2e6;
  max-height: 500px;
  overflow: hidden;
  border-bottom: solid 1px;
  border-top: solid 1px;
}

#paypal-button {
  padding-top: 5px;
}

.input-group {
  bottom: 3px;
  height: 45px;
}

.input-group-text {
  background-color: #ffffff;
}

.form-control {
  height: 45px;
  background-color: #ffffff;
}

.form-control:focus {
  box-shadow: none;
}

a:hover {
  color: #212529 !important;
}

.disabled-button {
  cursor: no-drop;
}

.form-container {
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  object-fit: cover;
}

.hide {
  display: none;
  position: relative;
}

.show {
  -webkit-animation-name: animate;
  position: relative;
  -webkit-animation-duration: 800ms;
  animation-name: animate;
  animation-duration: 800ms;
}

@-webkit-keyframes animate {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}

@keyframes animate {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}

.payment-section {
  padding-top: 25px;
  padding-bottom: 50px;
  color: #ffffff;
  background-color: #73c3b4;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 768px) {
  #payment {
    padding-top: 0;
  }

  .payment-section {
    padding-top: 95px;
    color: #ffffff;
  }
}

