.navbar {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11) 3px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11) 3px 1px 2px 0px;
  min-height: 55px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background-color: #ffffff;
}

.rotate_open {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  outline: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate_closed {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  outline: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.navbar-brand {
  margin-right: 0px;
}

.navbar_logo {
  height: 45px;
  padding-left: 10px;
}

.contact_info {
  color: #9c6a77;
  text-align: right;
  font-size: 12px;
}

.contact_info a {
  color: #9c6a77;
}

.fa-bars {
  color: #9c6a77;
  font-size: 28px;
  cursor: pointer;
}

.side_nav {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #9c6a77;
  overflow-x: hidden;
  margin-top: 71px;
  transition: 300ms ease-in;
}

.closed {
  width: 0%;
}

.side_nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 300ms ease-in;
}

.side_nav a:hover {
  color: #f1f1f1;
}

.side_nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-width: 575px) {
  .side_nav {
    margin-top: 71px;
    height: 50%;
  }

  .side_nav a {
    font-size: 18px;
  }

  .side_nav_social_container{
    width: 33vw;
  }

  .open {
    width: 100%
  }
}

@media screen and (min-width: 576px) {
  .open {
    width: 250px !important;
  }

  .side_nav_social_container{
    width: 100%;
  }
}

.social_row {
  display: -webkit-inline-box;
  display: -moz-inline-box;
}

.side_nav_footer {
  position: absolute;
  text-align: center;
  bottom: 95px;
}

.side_nav_social {
  color: #ffffff;
  font-size: 20px;
}
