<section class="container-fluid">
  <div class="row wow fadeIn" data-wow-duration="2s">
    <img class="main_background" src="./../../../assets/photos/site/bg-image01.jpg">
  </div>

  <div class="row">
    <div class="quote_container d-flex justify-content-center">
      <blockquote class="quote-box wow flipInX" data-wow-duration="2s">
        <p class="quotation-mark" id="quote-mark">
          “
        </p>
        <p class="quote-text">
          AZ Cakes we realize the importance of your celebration and are committed in providing you with an edible
          work
          of art that is truly one-of-a-kind.
        </p>
        <div class="blog-post-actions">
          <p class="blog-post-bottom text-right">
            - Elizabeth Bradley
          </p>
        </div>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="wow slideInLeft col-xs-12 col-sm-4 col-xl-2 option_container blue_green_light">
      <img class="category_img" src="./../../../assets/photos/site/cake.png">
      <h2>Baby Shower</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">MORE</button>
    </div>
    <div class="wow slideInRight col-xs-12 col-sm-4 col-lg-2 option_container blue_green_dark">
      <img class="category_img" src="./../../../assets/photos/site/cake.png">
      <h2>Wedding</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">more</button>
    </div>
    <div class="wow slideInLeft col-xs-12 col-sm-4 col-lg-2 option_container blue_green_light">
      <img class="category_img" src="./../../../assets/photos/site/cake.png">
      <h2>Grooms</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">More</button>
    </div>
    <div class="wow slideInRight col-xs-12 col-sm-4 col-lg-2 option_container blue_green_dark">
      <img class="category_img" src="./../../../assets/photos/site/cake.png">
      <h2>Girl</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">More</button>
    </div>
    <div class="wow slideInLeft col-xs-12 col-sm-4 col-lg-2 option_container blue_green_light">
      <img class="category_img" src="./../../../assets/photos/site/cake.png">
      <h2>Boy</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">More</button>
    </div>
    <div class="wow slideInRight col-xs-12 col-sm-4 col-lg-2 option_container blue_green_dark">
      <img class="category_img" src="./../../../assets/photos/site/cake.png">
      <h2>Cupcakes</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">More</button>
    </div>
  </div>

  <div class="container gallery">
    <p class="gallery_title">Gallery</p>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="image_container wow fadeIn" data-wow-duration="2s">
          <img class="gallery_image" src="./../../../assets/photos/main/buttercream_wedding.jpeg">
        </div>
        <span class="image_title">WEDDING</span>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4  text-center">
        <div class="image_container wow fadeIn" data-wow-duration="2s">
          <img class="gallery_image" src="./../../../assets/photos/bridal-and-baby/baby_booties.jpeg">
        </div>
        <span class="image_title">BRIDAL & BABY</span>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4  text-center">
        <div class="image_container wow fadeIn" data-wow-duration="2s">
          <img class="gallery_image" src="./../../../assets/photos/main/buttercream_wedding.jpeg">
        </div>
        <span class="image_title">CAKE</span>
      </div>


    </div>
  </div>

  <div class="row">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.9298085431165!2d-111.95767488425224!3d33.76247964039042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b7a2b1f1dbe31%3A0x9ae4fac30428ca5d!2s5819+E+Montgomery+Rd%2C+Cave+Creek%2C+AZ+85331!5e0!3m2!1sen!2sus!4v1532919237110"
      width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>

