.main_background {
  width: 100%;
  height: 100%;
}

.carousel {
  width: 100%;
  margin-top: 72px;
}

.carousel_img {
  display: block;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
}

.arrow {
  color: #ffffff;
  font-size: 50px;
}

blockquote {
  border-left: none
}

.quote_container {
  background-color: #ffffff;
  width: 100%;
  padding-top: 15px;
}

.quote-badge {
  background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {
  overflow: hidden;
  border-radius: 17px;
  background-color: transparent;
  color: #9c6a77;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 50px;
}

.quotation-mark {
  margin-top: -10px;
  font-weight: bold;
  font-size: 100px;
  color: #9c6a77;
}

.quote-text {
  font-size: 19px;
  margin-top: -65px;
}

.option_container {
  height: 475px;
  min-height: 475px;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
}

.blue_green_light {
  background-color: #79cdbd;
}

.blue_green_dark {
  background-color: #73c3b4;
}

.button {
  border-radius: 0px;
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.button:hover {
  border-color: #69817e;
  color: #69817e;
}

.button:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #69817e;
}

.category_img {
  margin-bottom: 25px;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title_container {
  border-bottom: 1px solid #eeeeee;
  overflow: visible;
  line-height: 17px;
  height: 9px;
  margin: 30px auto 75px;
  text-align: center;
  width: 97.9166666666666667%;
  text-transform: uppercase;
}

.gallery_title {
  text-align: center;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 50px;
  color: #9c6a77;
  background-color: #ffffff;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.image_container {
  position: relative;
  text-align: center;
  width: 100%;
  height: 467px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 300ms ease-in-out;
}

.image_container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery_image {
  width: 100%;
  max-height: 467px;
  background: #ffffff;
  opacity: 0.3;
  transition: all 300ms ease-in-out;
}

.image_container:hover .gallery_image {
  opacity: 1;
}

.image_title {
  bottom: 250px;
  position: relative;
  color: #9c6a77;
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.image_container:hover .image_title {
  opacity: 0;
  z-index: 9999;
}

.feedback {
  text-align: center;
  background-color: #9c6a77;
  padding-top: 50px;
  padding-bottom: 50px;
}

.feedback h2 {
  color: #ffffff
}

.feedback h4 {
  color: #ffffff
}

.feedback h6 {
  color: #ffffff;
}

.carousel-inner {
  min-height: 150px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #ffffff;
}

.carousel-indicators li {
  border-color: #ffffff;
}

.carousel-indicators li.active {
  background-color: #ffffff;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

@media screen and (max-width: 575px) {
  .main_background {
    margin-top: 72px;
  }

  .carousel {
    margin-top: 72px;
  }

  .arrow {
    font-size: 25px;
  }

  .quote-text {
    font-size: 12px;
  }

  .quotation-mark {
    font-size: 65px;
  }

  .quote-box {
    width: 80%;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .gallery_title {
    font-size: 35px;
    width: 100%;
  }

  .gallery {
    padding-bottom: 0px;
  }

  .image_container {
    height: 346px;
  }

  .image_title {
    bottom: 200px;
    font-size: 25px;
    font-weight: 200;
  }

  .title_container {
    border-bottom: none;
    line-height: 1px;
    height: auto;
    margin: auto;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
  }
}

