.main_background {
  width: 100%;
  height: 100%;
  opacity: .75;
}

blockquote {
  border-left: none
}

.quote_container {
  background-color: #ffffff;
  width: 100%;
  padding-top: 15px;
}

.quote-badge {
  background-color: rgba(0, 0, 0, 0.2);
}

.quote-box {
  overflow: hidden;
  border-radius: 17px;
  background-color: transparent;
  color: #9c6a77;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 75px;
}

.quotation-mark {
  margin-top: -10px;
  font-weight: bold;
  font-size: 100px;
  color: #9c6a77;
}

.quote-text {
  font-size: 19px;
  margin-top: -65px;
}

.option_container {
  height: 475px;
  min-height: 475px;
  width: 100%;
  padding-top: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
}

.blue_green_light {
  background-color: #79cdbd;
}

.blue_green_dark {
  background-color: #73c3b4;
}

.button {
  border-radius: 0px;
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
  box-shadow: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.button:hover {
  border-color: #69817e;
  color: #69817e;
}

.button:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #69817e;
}

.category_img {
  margin-bottom: 25px;
}

.gallery {
  padding-top: 50px;
  padding-bottom: 100px;
}

.gallery_title {
  text-align: center;
  font-size: 75px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #9c6a77;
}

.image_container {
  position: relative;
  width: 250px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transition: all 300ms ease-in-out;
}

.image_container:after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.3);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.image_container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transform: scale(1.05);
  transition: all 300ms ease-in-out;
}

.image_container:hover:after {
  opacity: 1;
}

.gallery_image {
  width: 100%;
}

.image_title {
  position: relative;
  bottom: 200px;
  color: white;
  font-size: 40px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.image_container:hover + .image_title {
  opacity: 1 !important;
}

@media screen and (max-width: 575px) {
  .main_background {
    padding-top: 60px;
  }

  .quote-text {
    font-size: 12px;
  }

  .quotation-mark {
    font-size: 65px;
  }

  .quote-box {
    width: 80%;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

