<section class="container-fluid">
  <div class="row animated slow" data="fadeIn">
    <img class="main_background" src="./../../../assets/photos/wedding-table-decoration/pale_pink_and_grey.jpeg">
  </div>

  <div class="row">
    <div class="quote_container d-flex justify-content-center">
      <blockquote class="quote-box animated slow" data="flipInX">
        <p class="quotation-mark" id="quote-mark">
          “
        </p>
        <p class="quote-text">
          At AZ Cakes we realize the importance of your celebration and are committed in providing you with an edible
          work
          of art that is truly one-of-a-kind.
        </p>
        <div class="blog-post-actions">
          <p class="blog-post-bottom text-right">
            - Elizabeth Bradley
          </p>
        </div>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-xl-3 option_container blue_green_light animated slow" data="slideInLeft">
      <img class="category_img" src="./../../../assets/photos/site/banner.png">
      <h2>Baby Shower & Wedding</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">MORE</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 option_container blue_green_dark animated slow" data="slideInRight">
      <img class="category_img" src="./../../../assets/photos/site/cake.png">
      <h2>Cupcakes</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">more</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 option_container blue_green_light animated slow" data="slideInLeft">
      <img class="category_img" src="./../../../assets/photos/site/birthday.png">
      <h2>Birthday</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">More</button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-3 option_container blue_green_dark animated slow" data="slideInRight">
      <img class="category_img" src="./../../../assets/photos/site/drink.png">
      <h2>Other</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">More</button>
    </div>
  </div>

  <app-gallery></app-gallery>
  <app-feedback></app-feedback>
  <app-map></app-map>
</section>

