<section class="container-fluid">
  <div class="row wow fadeIn" data-wow-duration="2s">
    <img class="main_background" src="./../../../assets/photos/wedding-table-decoration/pale_pink_and_grey.jpeg">
    <!--<div id="carouselExampleIndicators" class="carousel carousel-fade" data-ride="carousel">-->
    <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
    <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
    <!--</ol>-->
    <!--<div class="carousel-inner">-->
    <!--<div class="carousel-item active">-->
    <!--<img class="carousel_img" src="./../../../assets/photos/wedding-table-decoration/pale_pink_and_grey.jpeg"-->
    <!--alt="First slide">-->
    <!--</div>-->
    <!--<div class="carousel-item">-->
    <!--<img class="carousel_img" src="./../../../assets/photos/wedding-table-decoration/black_magic_roses.jpeg"-->
    <!--alt="Second slide">-->
    <!--</div>-->
    <!--<div class="carousel-item">-->
    <!--<img class="carousel_img" src="./../../../assets/photos/wedding-table-decoration/quilted_bow_wedding.jpg"-->
    <!--alt="Third slide">-->
    <!--</div>-->
    <!--</div>-->
    <!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
    <!--<span class="arrow" aria-hidden="true"><i class="fas fa-chevron-circle-left"></i></span>-->
    <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
    <!--<span class="arrow" aria-hidden="true"><i class="fas fa-chevron-circle-right"></i></span>-->
    <!--<span class="sr-only">Next</span>-->
    <!--</a>-->
    <!--</div>-->
  </div>


  <div class="row">
    <div class="quote_container d-flex justify-content-center">
      <blockquote class="quote-box wow flipInX" data-wow-duration="2s">
        <p class="quotation-mark" id="quote-mark">
          “
        </p>
        <p class="quote-text">
          At AZ Cakes we realize the importance of your celebration and are committed in providing you with an edible
          work
          of art that is truly one-of-a-kind.
        </p>
        <div class="blog-post-actions">
          <p class="blog-post-bottom text-right">
            - Elizabeth Bradley
          </p>
        </div>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="wow slideInLeft col-xs-12 col-sm-6 col-xl-3 option_container blue_green_light">
      <img class="category_img" src="./../../../assets/photos/site/banner.png">
      <h2>Baby Shower & Wedding</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">MORE</button>
    </div>
    <div class="wow slideInRight col-xs-12 col-sm-6 col-lg-3 option_container blue_green_dark">
      <img class="category_img" src="./../../../assets/photos/site/cake.png">
      <h2>Cupcakes</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">more</button>
    </div>
    <div class="wow slideInLeft col-xs-12 col-sm-6 col-lg-3 option_container blue_green_light">
      <img class="category_img" src="./../../../assets/photos/site/birthday.png">
      <h2>Birthday</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">More</button>
    </div>
    <div class="wow slideInRight col-xs-12 col-sm-6 col-lg-3 option_container blue_green_dark">
      <img class="category_img" src="./../../../assets/photos/site/drink.png">
      <h2>Other</h2>
      <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur velit vitae facilisis
        pretium.</h6>
      <button class="btn button">More</button>
    </div>
  </div>

  <!--<div class="container gallery">-->
    <!--<div class="title_container">-->
      <!--<p class="gallery_title">Gallery</p>-->
    <!--</div>-->

    <!--<div class="row">-->

      <!--<div class="col-xs-12 col-sm-6 col-md-4 text-center">-->
        <!--<div class="image_container wow fadeIn" data-wow-duration="2s">-->
          <!--<img class="gallery_image" src="./../../../assets/photos/main/buttercream_wedding.jpeg">-->
          <!--<span class="image_title">WEDDING</span>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6 col-md-4  text-center">-->
        <!--<div class="image_container wow fadeIn" data-wow-duration="2s">-->
          <!--<img class="gallery_image" src="./../../../assets/photos/bridal-and-baby/baby_booties.jpeg">-->
          <!--<span class="image_title">BRIDAL & BABY</span>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6 col-md-4  text-center">-->
        <!--<div class="image_container wow fadeIn" data-wow-duration="2s">-->
          <!--<img class="gallery_image" src="./../../../assets/photos/sports/golf_ball.jpeg">-->
          <!--<span class="image_title">SPORTS</span>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6 col-md-4 text-center">-->
        <!--<div class="image_container wow fadeIn" data-wow-duration="2s">-->
          <!--<img class="gallery_image"-->
               <!--src="./../../../assets/photos/birthday-girl/princess_heart_with_matching_smash.jpeg">-->
          <!--<span class="image_title">BIRTHDAY</span>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6 col-md-4  text-center">-->
        <!--<div class="image_container wow fadeIn" data-wow-duration="2s">-->
          <!--<img class="gallery_image" src="./../../../assets/photos/graduation/books_and_graduation_cap.jpeg">-->
          <!--<span class="image_title">GRADUATION</span>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-xs-12 col-sm-6 col-md-4  text-center">-->
        <!--<div class="image_container wow fadeIn" data-wow-duration="2s">-->
          <!--<img class="gallery_image" src="./../../../assets/photos/cupcakes/image_1.jpeg">-->
          <!--<span class="image_title">CUPCAKES</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <app-lightbox></app-lightbox>

  <div class="feedback row">
    <div class="col-12">
      <h2>What our customers say</h2>
    </div>

    <div id="carouselFeedback" class="carousel carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselFeedback" data-slide-to="0" class="active"></li>
        <li data-target="#carouselFeedback" data-slide-to="1"></li>
        <li data-target="#carouselFeedback" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h4><i>"Lorem ipsum dolor sit amet, consectetur adipiscing elit."</i></h4><br>
          <h6>Lorena L. Smith</h6>
        </div>
        <div class="carousel-item">
          <h4><i>"Quisque nisi erat, viverra id nunc at, ullamcorper vehicula ligula."</i></h4><br>
          <h6>Oscar C. Lewis</h6>
        </div>
        <div class="carousel-item">
          <h4><i>"In lectus libero, egestas et dolor et, facilisis commodo lectus."</i></h4><br>
          <h6>Jennifer B. Johnson</h6>
        </div>
      </div>
    </div>
  </div>
  <app-map></app-map>
</section>

