<div class="container-fluid" data-aos="fade-in" data-aos-duration="1000">
  <div class="row">
    <img class="main_background" alt="main background" src="./../../../client/assets/photos/site/main_background_cake.jpg">
  </div>

  <div class="row">
    <div class="quote_container d-flex justify-content-center" data-aos="flip-down" data-aos-duration="2000">
      <blockquote class="quote-box">
        <p class="quotation-mark" id="quote-mark">
          “
        </p>
        <p class="quote-text">
          At AZ Cakes we realize the importance of your celebration and are committed in providing you with an edible
          work
          of art that is truly one-of-a-kind.
        </p>
        <div class="blog-post-actions">
          <p class="blog-post-bottom text-right">
            - Elizabeth Bradley
          </p>
        </div>
      </blockquote>
    </div>
  </div>
  <app-flavors></app-flavors>
  <app-gallery></app-gallery>
  <app-payment></app-payment>
  <app-contact></app-contact>
</div>

