<div class="container text-center" id="flavors">
  <div class="title_container">
    <p class="title">Flavors</p>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4 mt-5">
      <div class="text-center">
        <img class="card-img-top" src="/../../client/assets/photos/site/cake_flavors.jpg" alt="CAKE FLAVORS">
      </div>
      <h3 class="card-title text-muted text-center mt-5">CAKE FLAVORS</h3>
      <div class="card">
        <ul class="list-group list-group-item-light list-group-flush text-center">
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Wedding White</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Chocolate Fudge</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Marble</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Spice</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Strawberry</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Lemon</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Red Velvet</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 mt-5">
      <div class="text-center">
        <img class="card-img-top" src="/../../client/assets/photos/site/cake_filling.jpg" alt="CAKE FILLING">
      </div>
      <h3 class="card-title text-muted text-center mt-5">CAKE FILLING</h3>
      <div class="card">
        <ul class="list-group list-group-item-light list-group-flush text-center">
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Vanilla Buttercream Icing</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Chocolate Buttercream Icing</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Raspberry</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Strawberry</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Bavarian Cream</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Lemon</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 mt-5">
      <div class="text-center">
        <img class="card-img-top" src="/../../client/assets/photos/site/cake_icing.jpg" alt="CAKE ICING">
      </div>
      <h3 class="card-title text-muted text-center mt-5">CAKE ICING</h3>
      <div class="card">
        <ul class="list-group list-group-item-light list-group-flush text-center">
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Vanilla Buttercream Icing</li>
          <li class="list-group-item" data-aos="fade-up" data-aos-duration="1000">Chocolate Buttercream Icing</li>
        </ul>
      </div>
    </div>
  </div>
</div>

