<nav class="navbar navbar-default fixed-top p-0" data-aos="fade-in" data-aos-duration="1000">
  <div class="banner">
    The original AZ Cake Shop serving Arizona since 2001!
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light fixed-top nav-links" id="scrollNav" data-aos="fade-in"
     data-aos-duration="1000">
  <a class="navbar-brand" routerLink="/home">
    <img class="navbar_logo" alt="name only logo" src="./../../../client/assets/logos/logo_name_only.png">
  </a>
  <button class="navbar-toggler" type="button" (click)="toggle = !toggle" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" [ngClass]="toggle ? 'rotate_open' : 'rotate_closed'"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">

      <!-- flavors -->
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
          [ngClass]="{'active' : section === '/flavors' && home}">
        <a class="nav-link" routerLink="/home" (click)="section = 'flavors'; toggle = !toggle"
           [ngx-scroll-to]="'#flavors'" [ngx-scroll-to-easing]="'easeInOutCubic'"
           [ngx-scroll-to-duration]="1500">
          Flavors
        </a>
      </li>

      <!-- Gallery -->
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
          [ngClass]="{'active' : section === '/gallery' && home}">
        <a class="nav-link" routerLink="/home" (click)="section = 'gallery'; toggle = !toggle"
           [ngx-scroll-to]="'#gallery'" [ngx-scroll-to-easing]="'easeInOutCubic'"
           [ngx-scroll-to-duration]="1500">
          Gallery
        </a>
      </li>

      <!-- Payment -->
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
          [ngClass]="{'active' : section === '/payment' && home}">
        <a class="nav-link" routerLink="/home" (click)="section = 'payment'; toggle = !toggle"
           [ngx-scroll-to]="'#payment'" [ngx-scroll-to-easing]="'easeInOutCubic'"
           [ngx-scroll-to-duration]="1500">
          Pay Online
        </a>
      </li>

      <!-- Contact -->
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
          [ngClass]="{'active' : section === '/contact' && home}">
        <a class="nav-link" routerLink="/home" (click)="section = 'contact'; toggle = !toggle"
           [ngx-scroll-to]="'#contact'" [ngx-scroll-to-easing]="'easeInOutCubic'"
           [ngx-scroll-to-duration]="1500">
          Contact
        </a>
      </li>

      <!-- Ordering -->
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
          [ngClass]="{'active' : url === '/order'}">
        <a class="nav-link" routerLink="/order" (click)="toggle = !toggle">Ordering</a>
      </li>

      <!-- About Me -->
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"
          [ngClass]="{'active' : url === '/about'}">
        <a class="nav-link" routerLink="/about" (click)="toggle = !toggle">About Me</a>
      </li>
    </ul>

    <div class="navbar-text">
      <div class="contact_info text-muted">
        By appointment only <b>480.502.7646</b>
      </div>
      <div class="contact_info text-muted">
        <a target="_blank" rel="noopener noreferrer" class="text-decoration-none text-muted" href="https://www.facebook.com/pages/AZ-Cakes-By-Elizabeth-llc/502518509786647">
          <i class="fab fa-facebook-square"></i> Visit us on Facebook
        </a>
      </div>
    </div>
  </div>
</nav>
