<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/home">
    <img class="navbar_logo" src="./../../../client/assets/logos/logo_name_only.png">
  </a>
  <button class="navbar-toggler" type="button" (click)="toggle = !toggle" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" [ngClass]="toggle ? 'rotate_open' : 'rotate_closed'"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" [ngClass]="{'active' : url === '/home'}">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" [ngClass]="{'active' : url === '/order'}">
        <a class="nav-link" routerLink="/order">Ordering</a>
      </li>
      <li class="nav-item" [ngClass]="{'active' : url === '/gallery'}">
        <a class="nav-link" routerLink="/gallery">Image Gallery</a>
      </li>
      <li class="nav-item" [ngClass]="{'active' : url === '/contact'}">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
    </ul>
    <span class="navbar-text">
      <div class="contact_info text-muted">
        Mon-Fri 9am to 5pm<br>
        480.502.7646
      </div>
    </span>
  </div>
</nav>
