.banner {
  text-align: center;
  text-transform: uppercase;
  background-color: #73c3b4;
  border: 1px solid #73c3b4;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  font-size: 9px;
}

.nav-links {
  min-height: 55px;
  z-index: 10;
  width: 100vw;
  top: 35px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11) 3px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11) 3px 1px 2px 0px;
}

.dropdown-menu {
  border-radius: 0;
  border: none;
}

.dropdown-item:active {
  background-color: #73c3b4;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown {
  cursor: pointer;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.rotate_open {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  outline: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate_closed {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  outline: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.navbar-brand {
  margin-right: 0px;
}

.navbar_logo {
  height: 45px;
}

.contact_info {
  text-align: left;
  margin-top: 20px;
  font-size: 12px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media (min-width: 576px) {
  .contact_info {
    text-align: right;
    margin-top: 0;
    font-size: 14px;
  }

  .banner {
    padding: 8px;
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .banner {
    padding: 5px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .navbar {
    width: 100%;
  }
}
