.navbar {
  min-height: 55px;
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.11) 3px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.11) 3px 1px 2px 0px;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler:focus {
  outline: none;
}

.rotate_open {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  outline: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate_closed {
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  outline: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.navbar-brand {
  margin-right: 0px;
}

.navbar_logo {
  height: 45px;
  padding-left: 10px;
}

.contact_info {
  text-align: right;
  font-size: 12px;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-width: 575px) {
  .contact_info {
    text-align: left;
  }
}

