body {
  font-family: 'Montserrat', sans-serif;
}

.form-control {
  border-radius: 0;
  height: calc(2.25rem + 15px);
}

.btn {
  box-shadow: none !important;
  border-radius: 0;
}

.button {
  border-radius: 0px;
  border-color: #73c3b4;
  color: #73c3b4;
  background-color: transparent;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.button:hover {
  border-color: #73c3b4;
  background-color: #73c3b4;
  color: #ffffff;
}

.button:active {
  background-color: #69817e;
  border-color: #69817e;
  color: #ffffff;
}

.title_container {
  border-bottom: 1px solid #eeeeee;
  overflow: visible;
  line-height: 17px;
  height: 9px;
  margin: 30px auto 75px;
  text-align: center;
  width: 97.9166666666666667%;
}

.title {
  text-align: center;
  font-size: 65px;
  font-family: 'Dancing Script', cursive;
  font-weight: 100;
  margin-bottom: 50px;
  color: #71757d;;
  background-color: #ffffff;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 575px) {

  .title {
    font-size: 45px;
    width: 100%;
  }

  .title_container {
    border-bottom: none;
    line-height: 1px;
    height: auto;
    margin: auto;
    text-align: center;
    width: 100%;
  }
}
